# Backend config
PORT=3001
VITE_GITHUB_OWNER=ecollectco
GITHUB_CLIENT_ID=tu_client_id_de_github
GITHUB_CLIENT_SECRET=tu_client_secret_de_github
GITHUB_REDIRECT_URI=http://localhost:5173/auth/github/callback
SESSION_SECRET=cambia_este_valor_por_una_clave_segura

# Frontend config
VITE_PORT=5173
